body {
    color: rgb(255, 255, 255);
    background-color:  rgb(2, 78, 108);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    align-items: center;
}

ul {
    display: flex;
    color:rgb(255, 255, 255);
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.simbolos{
    width: 500px;
    padding-left: 360px;
}

.introducao{
    color: rgb(255, 255, 255);
    background-color:   rgb(2, 78, 108);
    padding: 50px;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color:rgb(255, 255, 255);
    align-items: center;
    font-size: 80%;
}

h1 {
    font-size: 300%;
    text-align: center;
    color:   rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex{
    display: flex;
}
.img{
    width: 250px;
    padding-top: 55px;
}
.atributos{
    line-height: 50px;
}
#resposta {
    display: none;
 }
.navv{
    background-color: rgb(1, 51, 70);
    margin: 0%;
}
h2{
    font-size: 200%;
    text-align: center;
    color:   rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: aliceblue;
}
.texto{
    text-align: center;
}

.textoo{
    padding-left: 90px;
    text-align: center;
}
.correto{
    text-align: center;
}
.imgmeio{
    text-align: center;
    width: 200px;
}
.titulos{
    font-size: 300%;
    text-align: center;
    color:   rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
}
.comandos{
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}
.alinhado{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}